.profile__add-btn {
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 22px 22px;
  /* position: absolute; */
  /* right: 0; */
  justify-self: end;
}

@media screen and (max-width: 660px) {
  .profile__add-btn {
    width: 80%;
    min-width: 282px;
  }
}
