.profile__edit-btn {
  margin-left: 24px;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
}

@media screen and (max-width: 580px) {
  .profile__edit-btn {
    margin: 10px;
    height: 18px;
    width: 18px;
  }
}
