.element {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  align-items: center;
  /* max-height: 361px; */
  /* max-width: 282px; */
}
